.thegrid {
  padding: 0 10px 40px 10px;
  @media screen and (min-width: 768px) {
    padding: 0 20px 80px 20px;
  }
  .page_title {
    position: relative;
    height: 50vh;
    @media screen and (max-width: 801px) {
      //margin-bottom: 64px;
      .h1holder {
        top: 0;
        display: flex;
        align-items: flex-end;
        aspect-ratio: auto;
      }
    }
  }
}
.thegrid .row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 16px;
    position: relative;
    &.top-xSmall {
      padding-top: 8px;
    }
    &.top-small {
      padding-top: 16px;
    }
    &.top-medium {
      padding-top: 20px;
    }
    &.top-large {
      padding-top: 40px;
    }
    &.top-xLarge {
      padding-top: 60px;
    }
    &.top-xxLarge {
      padding-top: 80px;
    }
    &.bottom-xSmall {
      padding-bottom: 8px;
    }
    &.bottom-small {
      padding-bottom: 16px;
    }
    &.bottom-medium {
      padding-bottom: 20px;
    }
    &.bottom-large {
      padding-bottom: 40px;
    }
    &.bottom-xLarge {
      padding-bottom: 60px;
    }
    &.bottom-xxLarge {
      padding-bottom: 80px;
    }
  }
.thegrid {
  shopify-block:has(.level-1) {
    z-index: 1;
  }
  shopify-block:has(.level-2) {
    z-index: 2;
  }
  shopify-block:has(.level-3) {
    z-index: 3;
  }
  shopify-block:has(.level-4) {
    z-index: 4;
  }
  shopify-block:has(.level-5) {
    z-index: 5;
  }
  shopify-block:has(.level-6) {
    z-index: 6;
  }
  .row {
    > .level-1 {
      z-index: 1;
      position: relative;
    }
    > .level-2 {
      z-index: 2;
      position: relative;
    }
    > .level-3 {
      z-index: 3;
      position: relative;
    }
  }
 //  mobile span
  .shopify-block:has(.m-span-1) { grid-column: 1 / span 1; }
  .shopify-block:has(.m-span-2) { grid-column: 1 / span 2; }
  .shopify-block:has(.m-span-3) { grid-column: 1 / span 3; }
  .shopify-block:has(.m-span-4) { grid-column: 1 / span 4; }
  .shopify-block:has(.m-span-5) { grid-column: 1 / span 5; }
  .shopify-block:has(.m-span-6) { grid-column: 1 / span 6; }
  .shopify-block:has(.m-span-7) { grid-column: 1 / span 7; }
  .shopify-block:has(.m-span-8) { grid-column: 1 / span 8; }
  .shopify-block:has(.m-span-9) { grid-column: 1 / span 9; }
  .shopify-block:has(.m-span-10) { grid-column: 1 / span 10; }
  .shopify-block:has(.m-span-11) { grid-column: 1 / span 11; }
  .shopify-block:has(.m-span-12) { grid-column: 1 / span 12; }

  //  mobile start
  .shopify-block:has(.m-start-1) { grid-column-start: 1; }
  .shopify-block:has(.m-start-2) { grid-column-start: 2; }
  .shopify-block:has(.m-start-3) { grid-column-start: 3; }
  .shopify-block:has(.m-start-4) { grid-column-start: 4; }
  .shopify-block:has(.m-start-5) { grid-column-start: 5; }
  .shopify-block:has(.m-start-6) { grid-column-start: 6; }
  .shopify-block:has(.m-start-7) { grid-column-start: 7; }
  .shopify-block:has(.m-start-8) { grid-column-start: 8; }
  // Mobile Rows
  .shopify-block:has(.m-row-1) { grid-row-start: 1; }
  .shopify-block:has(.m-row-2) { grid-row-start: 2; }
  .shopify-block:has(.m-row-3) { grid-row-start: 3; }

  @media screen and (min-width: 768px) {
    //  tablet span
    .shopify-block:has(.t-span-1) { grid-column: 1 / span 1; }
    .shopify-block:has(.t-span-2) { grid-column: 1 / span 2; }
    .shopify-block:has(.t-span-3) { grid-column: 1 / span 3; }
    .shopify-block:has(.t-span-4) { grid-column: 1 / span 4; }
    .shopify-block:has(.t-span-5) { grid-column: 1 / span 5; }
    .shopify-block:has(.t-span-6) { grid-column: 1 / span 6; }
    .shopify-block:has(.t-span-7) { grid-column: 1 / span 7; }
    .shopify-block:has(.t-span-8) { grid-column: 1 / span 8; }
    .shopify-block:has(.t-span-9) { grid-column: 1 / span 9; }
    .shopify-block:has(.t-span-10) { grid-column: 1 / span 10; }
    .shopify-block:has(.t-span-11) { grid-column: 1 / span 11; }
    .shopify-block:has(.t-span-12) { grid-column: 1 / span 12; }

    //  tablet start
    .shopify-block:has(.t-start-1) { grid-column-start: 1; }
    .shopify-block:has(.t-start-2) { grid-column-start: 2; }
    .shopify-block:has(.t-start-3) { grid-column-start: 3; }
    .shopify-block:has(.t-start-4) { grid-column-start: 4; }
    .shopify-block:has(.t-start-5) { grid-column-start: 5; }
    .shopify-block:has(.t-start-6) { grid-column-start: 6; }
    .shopify-block:has(.t-start-7) { grid-column-start: 7; }
    .shopify-block:has(.t-start-8) { grid-column-start: 8; }
    // tablet Rows
    .shopify-block:has(.t-row-1) { grid-row-start: 1; }
    .shopify-block:has(.t-row-2) { grid-row-start: 2; }
    .shopify-block:has(.t-row-3) { grid-row-start: 3; }
  }
  @media screen and (min-width: 1024px) {
    //  desk span
    .shopify-block:has(.d-span-1) { grid-column: 1 / span 1; }
    .shopify-block:has(.d-span-2) { grid-column: 1 / span 2; }
    .shopify-block:has(.d-span-3) { grid-column: 1 / span 3; }
    .shopify-block:has(.d-span-4) { grid-column: 1 / span 4; }
    .shopify-block:has(.d-span-5) { grid-column: 1 / span 5; }
    .shopify-block:has(.d-span-6) { grid-column: 1 / span 6; }
    .shopify-block:has(.d-span-7) { grid-column: 1 / span 7; }
    .shopify-block:has(.d-span-8) { grid-column: 1 / span 8; }
    .shopify-block:has(.d-span-9) { grid-column: 1 / span 9; }
    .shopify-block:has(.d-span-10) { grid-column: 1 / span 10; }
    .shopify-block:has(.d-span-11) { grid-column: 1 / span 11; }
    .shopify-block:has(.d-span-12) { grid-column: 1 / span 12; }

    //  desk start
    .shopify-block:has(.d-start-1) { grid-column-start: 1; }
    .shopify-block:has(.d-start-2) { grid-column-start: 2; }
    .shopify-block:has(.d-start-3) { grid-column-start: 3; }
    .shopify-block:has(.d-start-4) { grid-column-start: 4; }
    .shopify-block:has(.d-start-5) { grid-column-start: 5; }
    .shopify-block:has(.d-start-6) { grid-column-start: 6; }
    .shopify-block:has(.d-start-7) { grid-column-start: 7; }
    .shopify-block:has(.d-start-8) { grid-column-start: 8; }
    .shopify-block:has(.d-start-9) { grid-column-start: 9; }
    .shopify-block:has(.d-start-10) { grid-column-start: 10; }
    // Desktop Rows
    .shopify-block:has(.d-row-1) { grid-row-start: 1; }
    .shopify-block:has(.d-row-2) { grid-row-start: 2; }
    .shopify-block:has(.d-row-3) { grid-row-start: 3; }
  }
}

.row.scrollimages {
  display: block;
  width: 100%;
  width: calc(100% + 20px);
  margin-right: -20px;
  position: relative;
  .sizer {
    position: relative;
    z-index: 1;
    opacity: 0;
    // img {
    //   width: 100%;
    // }
  }
  .scrollyimgs {
    width: 294px;
    @media screen and (min-width: 600px) {
      width: 400px;
    }
    @media screen and (min-width: 960px) {
      width: 604px;
    }
  }
  .jackouter {
    z-index: 2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vw - 10px);
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transform: rotate(-90deg) translateY(-314px);
    @media screen and (min-width: 600px) {
      transform: rotate(-90deg) translateY(-410px);
    }
    @media screen and (min-width: 960px) {
      height: calc(100vw - 20px);
      transform: rotate(-90deg) translateY(-624px);
    }
    transform-origin: right top;
    .imager {
      display: block;
      transform: rotate(90deg) translateX(304px);
      transform-origin: right top;
      margin-right: 10px;
      height: 314px;
      @media screen and (min-width: 600px) {
        height: 410px;
        transform: rotate(90deg) translateX(400px);
      }
      @media screen and (min-width: 960px) {
        margin-right: 20px;
        height: 624px;
        transform: rotate(90deg) translateX(604px);
      }
    }
  }
  // &.count-2 .jackouter  {
  //   height: calc(304px * 2);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 2);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 2);
  //   }
  // }
  // &.count-3 .jackouter  {
  //   height: calc(304px * 3);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 3);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 3);
  //   }
  // }
  // &.count-4 .jackouter  {
  //   height: calc(304px * 4);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 4);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 4);
  //   }
  // }
  // &.count-5 .jackouter  {
  //   height: calc(304px * 5);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 5);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 5);
  //   }
  // }
  // &.count-6 .jackouter  {
  //   height: calc(304px * 6);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 6);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 6);
  //   }
  // }
  // &.count-7 .jackouter  {
  //   height: calc(304px * 7);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 7);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 7);
  //   }
  // }
  // &.count-8 .jackouter  {
  //   height: calc(304px * 8);
  //   @media screen and (min-width: 600px) {
  //     height: calc(410px * 8);
  //   }
  //   @media screen and (min-width: 960px) {
  //     height: calc(624px * 8);
  //   }
  // }

}

.thegrid .row.bigtext {
  display: block;
  max-width: 1680px;
  margin: 32px auto;
  div {
    width: 100%;
  }
  .full_on {
    font-family: var(--font-druk);
    font-weight: var(--font-druk-weight);
    font-style: var(--font-druk-style);
    text-transform: uppercase;
  }
}