
/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
 @keyframes rotate-360-cw {
  0% {
    transform: rotate(0);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}



@mixin animationDelay {
  &:nth-child(6n+0) {
    transition-delay: 0.6s;
  }
  &:nth-child(6n+1) {
    transition-delay: 0.1s;
  }
  &:nth-child(6n+2) {
    transition-delay: 0.2s;
  }
  &:nth-child(6n+3) {
    transition-delay: 0.3s;
  }
  &:nth-child(6n+4) {
    transition-delay: 0.4s;
  }
  &:nth-child(6n+5) {
    transition-delay: 0.5s;
  }
}

.transition-fade {
  transition: 0.6s;
  opacity: 1;
}
// .containerCat.products {
//   .product {
//     opacity: 0;
//   }
// } 
.containerCat.aurevoir {
  &.products {
    .product {
      opacity: 0;
    }
  }
}
.containerCat.bonjour {
  &.products {
    .product {
      transition: 0.3s;
      // animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.0s both;
      @include animationDelay;
    }
  }
}

html.is-animating {
  .transition-fade {
    opacity: 0.5;
  }
  &.is-leaving  {
    .transition-fade .containerCat.products {
      .product {
        opacity: 0;
        transition: 0.3s;
        &:nth-child(6n+1) {
          transition-delay: 0.1s;
        }
        &:nth-child(6n+2) {
          transition-delay: 0.2s;
        }
        &:nth-child(6n+3) {
          transition-delay: 0.3s;
        }
        &:nth-child(6n+4) {
          transition-delay: 0.4s;
        }
        &:nth-child(6n+5) {
          transition-delay: 0.5s;
        }
        &:nth-child(6n+0) {
          transition-delay: 0.6s;
        }
      }
    }
  }
}



/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-out-top {
	animation: fade-out-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.fade-out {
	animation: fade-out 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes in-stay-out {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes in-stay {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



@keyframes volume_text_down {
  0% {
    transform: translateY(47vh) translateX(-50%);
  }
  100% {
    transform: translateY(88vh) translateX(-50%);
  }
}


 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

 @keyframes rotate-middle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes off_you_go {
  0% {
    top: 15vh;
    transform: translateX(-50%);
    left: 50%;
  }
  80% {
    height: 60px;
    width: 60px;
    top: 60px;
    left: 60px;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 60px;
    width: 60px;
    top: 60px;
    left: 60px;
    transform: translateX(0%);
  }
}

@keyframes b {
  0% {
      opacity: 0;
      transform: translateX(-2%)
  }

  to {
      opacity: 1;
      transform: translateX(0)
  }
}

// Blog grid
// @keyframes mask-one {
//   0% {
//     bottom: 100%;
//     transform: rotate(0);
//     box-shadow: 0 3px 8px rgba(0,0,0,0.0);
//   }
//   16% {
//     // was first
//     bottom: 92%;
//     transform: rotate(10deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
//   30% {
//     // was second
//     bottom: 88%;
//     transform: rotate(5deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
//   70% {
//     // was second
//     bottom: 62%;
//     transform: rotate(5deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//     left: -15%;
//   }
//   100% {
//     bottom: 50%;
//     transform: rotate(0deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
// }

// @keyframes flipper-one {
//   0% {
//     left: 5%;
//     top: 0;
//     transform: scaleY(-1) rotate(0);
//   }
//   16% {
//     // was first
//     left: 5%;
//     top: -2px;
//     z-index: 2;
//     transform: scaleY(-1) rotate(-20deg);
//   }
//   30% {
//     // was second
//     left: 4%;
//     top: 18.5%;
//     transform: scaleY(-1) rotate(-5deg);
//   }
//   50% {
//     // was second
//     left: 2%;
//     top: 47.6%;
//     transform: scaleY(-1) rotate(-5deg);
//   }
//   70% {
//     left: 1%;
//     top: 70%;
//     transform: scaleY(-1) rotate(-5deg);
//   }
//   100% {
//     left: 5%;
//     top: 99%;
//     background-color: red;
//     z-index: 2;
//     transform: scaleY(-1) rotate(0deg);
//   }
// }

// @keyframes mask-two {
//   0% {
//     bottom: 100%;
//     transform: rotate(0);
//     box-shadow: 0 3px 8px rgba(0,0,0,0.0);
//   }
//   16% {
//     // was first
//     bottom: 92%;
//     transform: rotate(-10deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
//   30% {
//     // was second
//     bottom: 88%;
//     transform: rotate(-5deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
//   70% {
//     // was second
//     bottom: 62%;
//     transform: rotate(-5deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//     right: -15%;
//   }
//   100% {
//     bottom: 50%;
//     transform: rotate(0deg);
//     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
//   }
// }

// @keyframes flipper-two {
//   0% {
//     right: 5%;
//     top: 0;
//     transform: scaleY(-1) rotate(0);
//   }
//   16% {
//     // was first
//     right: 5%;
//     top: -2px;
//     z-index: 2;
//     transform: scaleY(-1) rotate(20deg);
//   }
//   30% {
//     // was second
//     right: 3.8%;
//     top: 16.5%;
//     transform: scaleY(-1) rotate(5deg);
//   }
//   50% {
//     // was second
//     right: 2%;
//     top: 47.6%;
//     transform: scaleY(-1) rotate(5deg);
//   }
//   70% {
//     right: 1%;
//     top: 70%;
//     transform: scaleY(-1) rotate(5deg);
//   }
//   100% {
//     right: 5%;
//     top: 99%;
//     background-color: red;
//     z-index: 2;
//     transform: scaleY(-1) rotate(0deg);
//   }
// }

// @keyframes drop-one {
//   0% {
//     transform: translateY(3vh);
//   }
//   34% {
//     transform: translateY(3vh) rotate(45deg);
//   }
//   60% {
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(110vh) rotate(45deg);
//     opacity: 0;
//   }
// }

// @keyframes drop {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(3vh);
//   }
// }

// @keyframes swing {
//   0% {
//     transform: rotate(0deg);
//   }
//   45% {
//     transform: rotate(45deg);
//   }
//   70% {
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(110vh) rotate(45deg);
//     opacity: 0;
//   }
// }

// @keyframes swing {
//   0% {
//     transform: rotate(0deg);
//   }
//   45% {
//     transform: rotate(45deg);
//   }
//   70% {
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(110vh) rotate(45deg);
//     opacity: 0;
//   }
// }

@keyframes flippera {
  0% {
    bottom: 100%;
    transform: rotate(0deg);
    left:0%;
    overflow: visible;
  }
  25% {
    bottom: 100%;
    transform: rotate(9deg);
    box-shadow: 0 4px 3px -2px rgba(0,0,0, 0.5);
    left: 0.6%;
  }
  50% {
    left: -2.8%;
  }
  70% {
    left: -3%;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.1);
  }
  99% {
    overflow: visible;
  }
  100% {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    bottom: 0%;
    z-index: 2;
    transform: rotate(0deg);
    left: 0%;
    overflow: hidden; // products only
  }
}
@keyframes maskera {
  0% {
    bottom: 0%;
    transform: rotate(0deg);
  }
  25% {
    bottom: 0%;
    transform: rotate(-3deg);
  }
  70% {
    bottom: 70%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes topmaskera {
  0% {
    bottom: 100%;
    opacity: 1;
  }
  13% {
    bottom: 99%;
  }
  35% {
    bottom: 75%;
  }
  50% {
    bottom: 50%;
  }
  55% {
    bottom: 50%;
    opacity: 1;
  }
  56% {
    bottom: 50%;
    opacity: 0;
  }
  100% {
    bottom: 50%;
    opacity: 0;
  }
}


@keyframes fadeinner {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swingdroppa {
  0% {
    transform: translateY(0);
    // box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  2% {
    transform: translateY(0px);
  }
  6% {
    transform: translateY(5px);
  }
  12% {
    transform: translateY(25px);
  }
  16% {
    transform: translateY(25px);
  }
  50% {
    transform: rotate(64deg) translateY(25px);
  }
  75% {
    transform: rotate(20deg) translateY(25px);
  }
  100% {
    transform: rotate(45deg) translateY(25px);
    // box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  }
}
@keyframes droppa {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(8000vh);
    opacity: 0;
  }
}


// Variant 2 (left side ones)
@keyframes flipperb {
  0% {
    bottom: 100%;
    transform: rotate(0deg);
    right: 0%;
    overflow: visible;
  }
  25% {
    bottom: 100%;
    transform: rotate(-9deg);
    box-shadow: 0 4px 3px -2px rgba(0,0,0, 0.5);
    right: 0%;
  }
  50% {
    right: -2.8%;
  }
  70% {
    right: -3%;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.1);
  }
  99% {
    overflow: visible;
  }
  100% {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    bottom: 0%;
    z-index: 2;
    transform: rotate(0deg);
    right: 0%;
    overflow: hidden;
  }
}
@keyframes maskerb {
  0% {
    bottom: 0%;
    transform: rotate(0deg);
  }
  25% {
    bottom: 0%;
    transform: rotate(3deg);
  }
  70% {
    bottom: 70%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes topmaskerb {
  0% {
    bottom: 100%;
    background-color: white;
  }
  13% {
    bottom: 99%;
  }
  35% {
    bottom: 75%;
  }
  50% {
    bottom: 50%;
  }
  55% {
    bottom: 50%;
    opacity: 1;
    background-color: white;
  }
  56% {
    bottom: 50%;
    opacity: 0;
    background-color: rgba(255,255,255,0.0);
  }
  100% {
    bottom: 50%;
    opacity: 0;
    background-color: rgba(255,255,255,0.0);
  }
}

// @keyframes imagescale {
//   0% {
//     transform: scaleY(1);
//   }
//   25% {
//     transform: scaleY(1);
//   }
//   70% {
//     transform: scaleY(0.99);
//   }
//   100% {
//     transform: scaleY(0.98);
//   }
// }

@keyframes fadeinner {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swingdroppb {
  0% {
    transform: translateY(0);
  }
  2% {
    transform: translateY(0px);
  }
  6% {
    transform: translateY(5px);
  }
  12% {
    transform: translateY(25px);
  }
  16% {
    transform: translateY(25px);
  }
  50% {
    transform: rotate(-64deg) translateY(25px);
  }
  75% {
    transform: rotate(-20deg) translateY(25px);
  }
  100% {
    transform: rotate(-45deg) translateY(25px);
  }
}

 @keyframes swirl-in-bck {
  0% {
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
 @keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


/**
 * ----------------------------------------
 * animation slide-in-blurred-br
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-br {
  0% {
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform-origin: 0% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-tr
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-tr {
  0% {
    transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    transform-origin: 0% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-tl
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-tl {
  0% {
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform-origin: 100% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

