body {
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-style: var(--font-body-style);
    font-weight: 300;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5;
    color: var(--colour-text);
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--colour-text);
    .rte & {
        color: var(--colour-blue);
    }
    // .white & {
    //     @media screen and (min-width: 800px) {
    //         color: white;
    //     }
    // }
}
cite {
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.05px;
}
blockquote {
    font-style: italic;
    text-align: center;
    padding: 16px 16px 8px 16px;
    margin: 0;
    @media screen and (min-width: 960px) {
        padding: 32px 32px 8px 32px;
    }
    + cite {
        text-align: center;
        display: block;
    }
}

h1, .h1, h4 {
    font-family: var(--font-head);
    font-weight: var(--font-head-weight);
    font-style: var(--font-head-style);
    font-size: 100%;
    color: var(--colour-text);
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 14px 0;
    @media screen and (min-width: 768px) {
        // font-size: 40px;
        // line-height: 48px;
        // margin: 0 0 20px 0;
    }
    @media screen and (min-width: 1024px) {
        // font-size: 52px;
        // line-height: 60px;
        // margin: 0 0 26px 0;
    }
}
h1.drukster, strong.drukster {
  font-family: var(--font-druk);
  font-weight: var(--font-druk-weight);
  font-style: var(--font-druk-style);
  color: white;
  font-size: 256px;
  font-size: 28vw;
  line-height: 0.8;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
  @media screen and (min-width: 768px) {
    font-size: 23vw;
  }
  @media screen and (min-width: 1260px) {
    font-size: 23vw;
  }
  &.outline {
      color: white; /* Unfortunately you can't use transparent here … */
      text-shadow:
       -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000
  }
  &.page {
    color: black;
    margin: 20px auto 40px 0;
    text-align: left;
    max-width: 100%;
  }
  /* Real outline for modern browsers */
  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    &.outline {
      color: transparent;
      -webkit-text-stroke: 1px black;
      text-stroke: 1px black;
      text-shadow: none;
    }
  }
}
h1.drukster, .scroll_text strong.drukster {
  max-width: 94%;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 90%;
  }
  @media screen and (min-width: 1260px) {
    max-width: 80%;
  }
}
h2, h3 {
    font-family: var(--font-head);
    font-weight: var(--font-head-weight);
    font-style: var(--font-head-style);
    color: var(--colour-text);
    font-size: 100%;
    margin: 0 0 14px 0;
    @media screen and (min-width: 768px) {
        //font-size: 16px;
    }
    @media screen and (min-width: 1024px) {
        //font-size: 18px;
    }
}
h2.drukster, h3.drukster {
  font-family: var(--font-druk);
    font-weight: var(--font-druk-weight);
    font-style: var(--font-druk-style);
  color: white;
  font-size: 196px;
  font-size: 22vw;
  line-height: 0.8;
  width: 94%;;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 20;
  @media screen and (min-width: 768px) {
    width: 90%;
    font-size: 17vw;
  }
  @media screen and (min-width: 1260px) {
    width: 80%;
    font-size: 18vw;
  }
}
h5 {
    // font-size: 16px;
    font-family: var(--font-head);
    font-weight: var(--font-head-weight);
    font-style: var(--font-head-style);
    font-size: 13px;
    // text-transform: uppercase;
    // letter-spacing: 0.3px;
    // line-height: 32px;
    margin: 0 0 14px 0;
}
p {
    margin: 0 0 8px 0;
    a {
      font-family: var(--font-head);
    font-weight: var(--font-head-weight);
    font-style: var(--font-head-style);
    }
    @media screen and (min-width: 768px) {
        // letter-spacing: 0.3px;
        // font-size: 14px;
    }
    @media screen and (min-width: 1101px) {
        // margin: 0 0 12px 0;
        // font-size: 16px;
        // letter-spacing: 0.5px;
    }
}

// .rte {
//     ul.social_list {
//         list-style-type: none;
//         li {
//             line-height: 24px;
//             padding: 13px 0;
//             a {
//                 color: black;
//             }
//             img {
//                 max-width: 24px;
//                 max-height: 24px;
//                 margin-right: 20px;
//             }
//         }
//     }
// }

.font_bold, strong, b {
    font-family: var(--font-head);
    font-weight: var(--font-head-weight);
    font-style: var(--font-head-style);
}

// messageing
.error, .pristine-error {
    color: var(--colour-red);
}
.success {
    color: var(--colour-green);
}

// Lyrics sections use fittext and outline class
.lyrics {
  position: relative;
  z-index: 23;
  padding: 32px 16px 0;
  @media screen and (min-width: 768px) {
    padding: 64px 32px 0 32px;
  }
  @media screen and (min-width: 1024px) {
    padding: 48px 32px 0 32px;
  }
  .lyric {
    width: 100%;
    strong {
      width: auto;
    }
  }
}