// .hometext {
//   position: relative;
//   z-index: 2;
//   text-align: center;
//   flex: 1;
//   align-self: center;
//   h1 {
//     text-align: center;
//     margin: 0 auto 50vh;
//     max-width: 662px;
//     padding: 0 20px;
//   }
//   .actions {
//     margin: 0 auto 10vh;
//     max-width: 122px;
//     .button {
//       min-width: 80px;
//       display: block;
//       &:first-child {
//         margin-bottom: 14px;
//       }
//     }
//   }
// }
.banner {
  height: calc(100vh - 24px);
  width: calc(100vw - 24px);
  @media screen and (min-width: 768px) {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
  }
}

// .intro {
//   background-color: white;
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 4;
//   text-align: center;
//   display: none;
//   visibility: hidden;
//   opacity: 0;
//   &.hello {
//     display: block;
//     visibility: visible;
//     animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   }
//   .numbers {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translateY(-50%) translateX(-50%);
//     font-family: serif;
//     font-size: 240px;
//     font-style: normal;
//     line-height: 1;
//     display: none;
//     visibility: hidden;
//     span {
//       opacity: 0;
//       position: absolute;
//       left: 0;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       text-align: center;
//       &:last-child {
//         position: relative;
//         display: block;
//       }
//     }
//     &.hello {
//       display: inline-block;
//       visibility: visible;
//       span {
//         &:nth-child(1) {
//           animation: in-stay-out 3s 0s 1 linear both;
//         }
//         &:nth-child(2) {
//           animation: in-stay-out 0.25s 3.25s 1 linear both;
//         }
//         &:nth-child(3) {
//           animation: in-stay-out 0.25s 3.5s 1 linear both;
//         }
//         &:nth-child(4) {
//           animation: in-stay-out 0.25s 3.75s 1 linear both;
//         }
//         &:nth-child(5) {
//           animation: in-stay-out 0.25s 4s 1 linear both;
//         }
//         &:nth-child(6) {
//           animation: in-stay-out 0.25s 4.25s 1 linear both;
//         }
//         &:nth-child(7) {
//           animation: in-stay-out 0.25s 4.5s 1 linear both;
//         }
//         &:nth-child(8) {
//           animation: in-stay-out 0.25s 4.75s 1 linear both;
//         }
//         &:nth-child(9) {
//           animation: in-stay-out 0.25s 5s 1 linear both;
//         }
//         &:nth-child(10) {
//           animation: in-stay-out 0.25s 5.25s 1 linear both;
//         }
//         &:nth-child(11) {
//           animation: in-stay-out 0.25s 5.5s 1 linear both;
//         }
//         &:nth-child(12) {
//           animation: in-stay-out 3.25s 5.75s 1 linear both;
//         }
//       }
//     }
//   }
//   .volume_text {
//     position: absolute;;
//     left: 50%;
//     transform: translateY(47vh) translateX(-50%);
//     animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//     &.down {
//       animation: volume_text_down 1.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//     }
//     &.goodbye {
//       animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//     }
//   }
//   .animelogo {
//     position: absolute;
//     height: 70vh;
//     width: 70vh;
//     top: 15vh;
//     left: 50%;
//     transform: translateX(-50%);
//     opacity: 0;
//     .logo_outside, .logo_inside {
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//     }
//     .logo_inside {
//       opacity: 0;
//     }
//     &.hello {
//       animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//       .logo_outside {
//         animation: rotate-center 6s 3s ease-in-out 0.5 both;
//       }
//       .logo_inside {
//         animation: fade-in 1s 9s linear 1 both;
//       }
//     }
//     &.goleft {
//       opacity: 1;
//       animation: off_you_go 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//       .logo_outside {
//         svg {
//           animation: rotate-center 2.5s ease-in-out 0.5 reverse both;
//         }
//       }
//     }
//   }
// }

.homepage {
  .siteNav {
    .logo {
      opacity: 0;
      &.hello {
        opacity: 1;
      }
    }
  }
}