img {
    width: 100%;
    height: auto;
}

.rte {
    img {
        max-width: 100%;
        height: auto;
    }
}
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

iframe {
    border: 0;
}

.fitVids-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .fitVids-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.whatsappnin {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    z-index: 99999;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 2px 13px -6px rgba(0,0,0,0.25);
    background-color: white;
    @media screen and (min-width: 768px) {
        right: 30px;
        bottom: 20px;
    }
}
.homepage .whatsappnin {
  display: none;
}

iframe {
    max-width: 100%;
}