.basic_text {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 8px 8px 8px;
  @media screen and (min-width: 800px) {
    padding: 180px 16px 16px 16px;
  }
  .fourofour & {
    margin-top: 62px;
  }
}

.basic_page {
  main#content {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (min-width: 768px) {
      padding-top: 80px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

// Singles
.flex.profile {
  gap: 10px;
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
  @media screen and (min-width: 960px) {
    gap: 20px;
    flex-wrap: nowrap;
  }
  .col {
    .innercol {
      height: 100%;
      flex-direction: column;
    }
    .rte {
      @media screen and (max-width: 960px) {
        p {
          max-width: 410px;
        }
      }
    }
    .img, .rte {
      flex: 1;
      &.top {
        align-self: flex-start;
      }
      &.center {
        align-self: center;
      }
      &.bottom {
        align-self: flex-end;
      }
    }
  }
}
