.products {
  &.grid {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.964);
    @media screen and (min-width: 768px) {
      padding: 0 20px;
    }
    .product, .gridimage {
      position: relative;
      aspect-ratio: 1/1;
      video {
        max-width: 100%;
        height: auto;
      }
      .product_info {
        position: absolute;
        left: 23px;
        top: 20px;
        z-index: 200;
        h3 {
          margin-bottom: 4px;
        }
      }
      
      .product-name {
        position: absolute;
        left: 23px;
        top: 20px;
        z-index: 200;
      }
    }
  }
}

// Product Flypage
.productfly {
  padding-bottom: 24px;
  padding-top: 0;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
  .flex {
    width: 100%;
    justify-content: flex-start;
    .product-images {
      flex: 1;
      flex-basis: 100%;
      max-width: 100%;
      position: relative;
      @media screen and (min-width: 768px) {
        padding-top: 0;
        flex: 1;
        flex-basis: 50%;
        max-width: 50%;
      }
      .helper {
        display: none;
        z-index: 30;
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        padding: 24px 10px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        .button {
          display: inline-block;
        }
        &.showme {
          display: block;
          .hover & {
            display: none;
          }
        }
        .hover & {
          display: none;
        }
      }
    }
    .product-details {
      flex: 1;
      flex-basis: 100%;
      max-width: 100%;
      @media screen and (min-width: 768px) {
        flex: 1;
        flex-basis: 50%;
        max-width: 50%;
        .details_inner {
          height: calc(50vw - 20px);
          padding: 10px 0 10px 0;
          position: sticky;
          top: 48px;
          align-items: flex-start;
          align-content: space-between;
          max-height: calc(100vh - 72px);
          > div {
            flex: 1 0 100%;
            max-width: calc(100% - 20px);
            padding: 0 20px 10px 0;
          }
        }
      }
      @media screen and (min-width: 1024px) {
        .details_inner {
          height: calc(50vw - 40px);
          padding: 20px 0 20px 0;
          > div {
            max-width: calc(100% - 20px);
            padding: 0 20px 20px 0;
          }
        }
      }
      h1 {
        margin-bottom: 0;
      }
      .product-price {
        margin-bottom: 14px;
        > span {
          display: none;
          &.checkme {
            display: inline;
          }
        }
      }
    }
  }
  .other_materials {
    h4 {
      margin: 10px 0 6px 0;
      line-height: 1;
    }
    .flex {
      justify-content: flex-start;
    }
    a {
      display: block;
      flex: 0 1 74px;
      max-width: 74px;
      span {
        display: block;
        margin-top: 4px;
      }
      margin: 0 4px 20px 0;
      &:nth-child(4), &:nth-child(8) {
        margin-right: 0;
      }
    }
    img {
      max-width: 80px;
      margin: 0;
      border: 1px solid white;
      transition: var(--transit);
      &:hover {
        border: 1px solid black;
      }
    }
  }
  .product_images {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin: 10px 10px 0 10px;
      gap: 10px;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .imager {
      display: block;
      margin: 0;
      box-sizing: border-box;
      @media screen and (min-width: 768px) {
        padding: 0 20px 20px 20px;
      }
      @media screen and (max-width: 767px) {
        flex: 1 0 100%;
        // flex-basis: calc(100% - 20px);
        width: 100%;
        min-width: 100%;
        scroll-snap-align: start;
        position: relative;
        // margin: 0 10px 0 10px;
      }
    }
  }
  .mobile_slideNav {
    display: none;
    visibility: hidden;
    // justify-content: space-around;
    @media screen and (max-width: 767px) {
      display: flex;
      visibility: visible;
      gap: 0;
      justify-content: center;
      button {
        min-width: 20px;
        width: 40px;
        padding: 16px;
        margin: 0;
        flex: 0 1 40px;
        span {
          display: block;
          border-radius: 50%;
          height: 8px;
          width: 8px;
          transition: var(--transit);
          background-color: #A2A2A2;
        }
        &.intersecting {
          span {
            background-color: #000;
          }
        }
      }
    }
  }
  .holall {
    @media screen and (max-width: 767px) {
      padding: 10px;
      width: 100%;
    }
  }
  .addto {
    justify-content: flex-start;
    padding: 20px 0 0 0;
    column-gap: 16px;
    max-width: 526px;
    @media screen and (min-width: 1024px) {
      max-width: 65%;
    }
    align-items: flex-end;
    .field, .buttons {
      flex: 1;
      max-width: calc(50% - 8px);
      .radio_group.flex {
        min-width: 100px;
      }
      input, select, button {
        min-width: 100%;
      }
      @media screen and (max-width: 767px) {
        flex-basis: calc(50% - 8px);
       
      }
      // @media screen and (min-width: 1024px) {
      //   input, select, button {
      //     min-width: 190px;
      //   }
      // }
    }
    .field.hide {
      display: none;
    }
    .messages {
      flex: 1 0 100%;
      order: 1;
      p {
        margin-bottom: 12px;
      }
    }
    .buttons {
      flex: 1 1;
      order: 3;
    }
    .field {
      order: 2;
    }
  }
  .leadtime-container {
    font-size: 87.5%;
    padding-top: 2px;
    padding-left: calc(50% + 12px);
    flex: 1;
    flex-basis: 100%;
    order: 4;
  }
  .cufflinks, .bracelets, .necklaces {
    .leadtime-container {
      padding-left: 0;
    }
  }
}

// Bespoke Page
.productfly-bespoke {
  width: 100%;
  // height: calc(100vh - 40px);
  position: relative;
  z-index: 2;
  .flex {
    justify-content: flex-end;
    position: relative;
    z-index: 3;
  }
  .carousel-cell {
    width: 100%;
  }
}

.bespoke_details {
  flex: 1;
  order: 2;
  padding: 24px;
  @media screen and (min-width: 960px) {
    position: absolute;
    top: 20px;
    padding-top: 96px;
    right: 10px;
    z-index: 200;
    right: 28px;
    max-width: 310px;
  }
  .introtext {
    margin-top: 24px;
  }
  .cta {
    text-align: center;
  }
  .cta {
    text-align: center;
  }
  @media screen and (min-width: 960px) {
    h1 {
      // color: white;
    }
    // color: white;
    select, .checkbox_outer .checkmark {
      border-color: white;
      background-color: transparent;
      color: white;
    }
  }
}

.bespoke.productfly.slides {
  .carousel-cell {
    width: 100%;
  }
}
.falldowns {
  .ohmygaad {
    overflow-y: hidden;
  }
}

.flypage_wishlist {
  position: relative;
  padding-bottom: 12px;
}

// Wishlist
.wishlist_form { 
  .wishlist {
    display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    position: relative;
    border: 0;
    min-width: 26px;
    transition: opacity 0.3s ease-in-out;
    outline: 0;
    &:focus {
      outline: 0;
    }
    
    &:hover {
      background-color: transparent;
    }
    span {
      position: absolute;
      text-indent: -99999999px;
    }
    svg {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 100%;
      height: auto;
      path.star_inside {
        transition: fill 0.3s ease-in-out;
        fill: rgba(0,0,0,0.0);
      }
    }
    &.loading {
      animation: rotate-360-cw 1.2s linear infinite both;
    }
    &.loaded {
      animation: rotate-360-cw 1.2s linear both;
      path.star_inside {
        fill: rgba(0,0,0,1);
      }
      .hover & {
        opacity: 1;
      }
    }
  }
}
.wishlist_link {
  .hover & {
    opacity: 0;
  }
  position: absolute;
  .flypage_wishlist & {
    left: 28px;
    top: 7px;
  }
}
.wishlist_form.wishedfor {
  &+.wishlist_link {
    opacity: 1;
    .hover & {
      opacity: 0;
    }
  }
}
.flypage_wishlist{
  &:hover {
    .wishlist_link {
      opacity: 1;
    }
    .wishlist_form.wishedfor {
      &+.wishlist_link {
        opacity: 1;
        .hover & {
          opacity: 1;
        }
      }
    }
  }
}

// Product Grid slid in animations
@keyframes slide-in-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  1% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}


.products {
  // we need some mad indexing fro the animation
  .product {
    &.slidebaby {
      .product_info {
        mix-blend-mode: difference;
        color: white;
        span, h3 {
          color: white;
        }
      }
    }
    a.linkouter {
      position: relative;
      display: block;
      z-index: 1;
      overflow: hidden;
      .main_picture {
        position: relative;
        z-index: 1;
      }
      .lifestyle_picture {
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        z-index: 2;
      }
    }
  }
  .product {
      /* Applies styles when the user has made no preference known */
      @media screen and (prefers-reduced-motion: no-preference) {
        &.slidebaby .lifestyle_picture {
          animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
        }
        // &:nth-child(5n+1) {
        //   .lifestyle_picture {
        //     animation-delay: 15s;
        //   }
        // } 
        // &:nth-child(5n+2) {
        //   .lifestyle_picture {
        //     animation-delay: 10s;
        //   }
        // } 
        // &:nth-child(5n+3) {
        //   .lifestyle_picture {
        //     animation-delay: 15s;
        //   }
        // } 
        // &:nth-child(5n+4) {
        //   .lifestyle_picture {
        //     animation-delay: 20s;
        //   }
        // } 
        // &:nth-child(5n) {
        //   .lifestyle_picture {
        //     animation-delay: 25s;
        //   }
        // } 
      }
    }
  }

.for_lovers_cat {
  .collection_campaigns + .products {
    margin-top: 20px;
  }
}

.related_products {
  .swag {
    margin-bottom: 20px;
  }
}