@charset "UTF-8";
/*!
 * Accordion v2.6.4
 * Simple accordion created in pure Javascript.
 * https://github.com/michu2k/Accordion
 *
 * Copyright 2017-2019 Michał Strumpf
 * Published under MIT License
 */
.ac {
  margin-top: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .productpage & {
    max-width: 526px;
  }
  h2 {
    @include bodyfont;
  }
  .bespoke_details & {
    @media screen and (min-width: 960px) {
      color: white;
      border-bottom: 1px solid white;
      h2 {
        color: white;
      }
    }
  }
}

.ac > .ac-q {
  padding: 8px 8px 8px 12px;
  margin: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
  position: relative;
  &:focus {
    outline: 0;
  }
}

.ac > .ac-q::after {
  content: '+';
  text-align: center;
  width: 15px;
  left: -5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
}

.ac > .ac-a {
  overflow: hidden;
  visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.ac-inner {
  padding: 10px 0 20px 0;
  @media screen and (min-width: 768px) {
    max-height: 350px;
    overflow: scroll;
  }
  table {
    margin-bottom: 20px;
  }
  .cta {
    text-align: center;
  }
}

.ac.is-active > .ac-a {
  visibility: visible;
}
.ac.is-active > h2 {
  @include headfont;
}
.ac.is-active > .ac-q::after {
  content: '\2013';
}

.customerservice {
  .ac-inner {
    > div {
      padding-bottom: 50px;
    }
  }
}
.carttab {
  .ac-inner {
    > div {
      padding-bottom: 120px;
    }
  }
}
