
table {
  padding: 0;
  // border: 1px solid var(--colour-text);
  border-spacing: 1px;
  width: 100%;
  thead th {
    padding-bottom: 10px;
  }
  tr, td {
    // font-size: 8px;
    font-size: 87.5%;
  }
  .bespoke & {
    border-color: white;
  }
}

.previous_orders {
  table {
    th, td {
      font-size: 14px;
      text-align: left;
      border-bottom: 1px solid rgba(0,0,0,0.4);
      padding: 8px 0;
    }
    th {
      font-family: var(--font-head);
      font-weight: var(--font-head-weight);
      font-style: var(--font-head-style);
      font-size: 14px;
    }
  }
}